/* Custom scrollbar for Editor & History Panel */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 10px;
}
.bg-gray-950::-webkit-scrollbar-thumb {
    background: #334155;
}
